html, body {
  margin: 0;
  padding: 0;
}

body {
  background-color: #000;
  width: 16384px;
  overflow: hidden;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -8192px;
  margin-top: -600px;
  color: #fff;
  font-size: 60px;
}

.hidden {
  display: none;
}

main {
  height: 100%;
}



/* Zone definitions, etc. */

#tvl {
  width: 100%;
  margin: 0 auto;
  padding: 0;
  overflow: hidden;
  display: block;
  position: relative;
  height: 1200px;
}

/*
.tvl-zone {
  position: relative;
  float: left;
  margin: 0;
  padding: 0;
}
*/


.tvl-zone {
  position: absolute;
  top: 0;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#zone-1, #zone-2, #zone-3, #zone-1-2, #zone-2-3, #zone-1-2-3,
#zone-4, #zone-8, #zone-9, #zone-10, #zone-9-10 {
  height: 1200px;
}

#zone-5, #zone-6, #zone-7, #zone-5-6, #zone-6-7, #zone-5-6-7 {
  height: 1062px;
}


/* south wall */

#zone-1, #zone-2, #zone-3 {
  width: 1536px;
}

#zone-1-2, #zone-2-3 {
  width: 3072px;
}

#zone-1-2-3 {
  width: 4608px;
}

#zone-1, #zone-1-2, #zone-1-2-3 {
  left: 0;
}

#zone-2, #zone-2-3 {
  left: 1536px;
}

#zone-3 {
  left: 3072px;
}


/* southwest wall */

#zone-4 {
  width: 1920px;
  left: 4608px;
}


/* west wall */

#zone-5 {
  width: 1536px;
}

#zone-6 {
  width: 1536px;
}

#zone-7 {
  width: 1536px;
}

#zone-5-6 {
  width: 3072px;
}

#zone-6-7 {
  width: 3072px;
}

#zone-5-6-7 {
  width: 4608px;
}

#zone-5, #zone-5-6, #zone-5-6-7 {
  left: 6528px;
}

#zone-6, #zone-6-7 {
  left: 8064px;
}

#zone-7 {
  left: 9600px;
}


/* northwest wall */

#zone-8 {
  width: 1920px;
  left: 11136px;
}



/* north wall */

#zone-9 {
  width: 1664px;
}

#zone-10 {
  width: 1664px;
}

#zone-9-10 {
  width: 3328px;
}

#zone-9, #zone-9-10 {
  left: 13056px;
}

#zone-10 {
  left: 14720px;
}

/* Additional styles used for media players, images, and wrapper elements */

.tvl-zone .wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
}

.tvl-zone .wrapper img.vertical {
  height: 100%;
}

.tvl-zone .wrapper img.horizontal {
  width: 100%;
}


.tvl-zone .wrapper img {
  max-width: 1536px;
  max-height: 1062px;
}

.player-wrapper {
  padding: 0;
  margin: 0 auto;
  /* width: 1536px; */
  width: 1500px;
}

.player-wrapper video {
  height: 1062px;
  max-width: 100%;
}

#zone-1 .player-wrapper.single-source video,
#zone-2 .player-wrapper.single-source video,
#zone-3 .player-wrapper.single-source video,
#zone-1-2 .player-wrapper.single-source video,
#zone-2-3 .player-wrapper.single-source video,
#zone-1-2-3 .player-wrapper.single-source video,
#zone-4 .player-wrapper.single-source video,
#zone-8 .player-wrapper.single-source video,
#zone-9 .player-wrapper.single-source video,
#zone-10 .player-wrapper.single-source video,
#zone-9-10 .player-wrapper.single-source video {
  height: 1200px;
}


.controls {
  clear: both;
  text-align: center;
}

.test-red {
  width: 100%;
  height: 100%;
  background: #990000;
}

.test-green {
  width: 100%;
  height: 100%;
  background: #009900;
}

.test-blue {
  width: 100%;
  height: 100%;
  background: #000099;
}

.playlist-control {
  font-size: 50px;
  color: #333;
}

.playlist-control:hover {
  cursor: pointer;
}

.playlist-link {
  color: #333;
}

.playlist-link:hover {
  color: #666;
}

.playlist-link.current, .playlist-link.current:hover {
  color: #666;
}
