/*
  Custom colors generated via the Starlight docs 'Color theme editor',
  https://starlight.astro.build/guides/css-and-tailwind/#color-theme-editor.
  Based on #50c0e8 (dark) and #026cb6 (light) from the AS logo.
*/

/* Dark mode colors */
:root {
  --sl-color-accent-low: #002836;
  --sl-color-accent: #007595;
  --sl-color-accent-high: #85d5f5;
  --sl-color-white: #ffffff;
  --sl-color-gray-1: #edeef0;
  --sl-color-gray-2: #c7c8cb;
  --sl-color-gray-3: #a2a4a9;
  --sl-color-gray-4: #56585d;
  --sl-color-gray-5: #36383c;
  --sl-color-gray-6: #25272b;
  --sl-color-black: #17181a;

  --as-color-hairline: var(--sl-color-gray-4);
  --as-color-search-btn-bg: var(--sl-color-gray-6);
  --as-color-search-btn-border: var(--sl-color-gray-3);
  --as-color-search-btn-border-hover: var(--sl-color-gray-1);
  --as-color-pagination-border: var(--sl-color-gray-3);
  --as-color-pagination-border-hover: var(--sl-color-gray-1);
  --as-color-card-border: var(--sl-color-gray-3);
}

/* Light mode colors */
:root[data-theme='light'] {
  --sl-color-accent-low: #c5d9ee;
  --sl-color-accent: #00518a;
  --sl-color-accent-high: #103454;
  --sl-color-white: #17181c;
  --sl-color-gray-1: #24272f;
  --sl-color-gray-2: #353841;
  --sl-color-gray-3: #545861;
  --sl-color-gray-4: #888b96;
  --sl-color-gray-5: #c0c2c7;
  --sl-color-gray-6: #eceef2;
  --sl-color-gray-7: #f5f6f8;
  --sl-color-black: #ffffff;

  --as-color-hairline: var(--sl-color-gray-5);
  --as-color-search-btn-bg: var(--sl-color-gray-6);
  --as-color-search-btn-border: var(--sl-color-gray-4);
  --as-color-search-btn-border-hover: var(--sl-color-gray-2);
  --as-color-pagination-border: var(--sl-color-gray-4);
  --as-color-pagination-border-hover: var(--sl-color-gray-2);
  --as-color-card-border: var(--sl-color-gray-4);
}

/* Custom header and sidebar colors */
body > .page > .header {
  border-bottom: 1px solid var(--as-color-hairline);
  background-color: var(--sl-color-bg);
}

#starlight__sidebar {
  background-color: var(--sl-color-bg);
  border-inline-end: 1px solid var(--as-color-hairline);
}

/* Remove sidebar tree indentation marker except on hover */
#starlight__sidebar ul.top-level ul > li {
  border-color: transparent;

  &:hover {
    border-inline-start-color: var(--sl-color-gray-4);
  }
}

/* Increase search button contrast */
@media (min-width: 50rem) {
  body > .page > .header button[data-open-modal] {
    background: var(--as-color-search-btn-bg);
    border-color: var(--as-color-search-btn-border);

    &:hover {
      border-color: var(--as-color-search-btn-border-hover);
    }
  }
}

/* Increase contrast of social icons divider */
header .social-icons::after {
  border-inline-end-color: var(--as-color-hairline);
}

/* Separate core docs from meta info in sidebar */
/* stylelint-disable no-descending-specificity */
#starlight__sidebar ul.top-level > li:first-child {
  margin-bottom: 2rem;
}
#starlight__sidebar ul.top-level > li:nth-last-child(2) {
  margin-top: 2rem;
}
/* stylelint-enable no-descending-specificity */

/* Remove border between page title and content */
main > .content-panel:nth-of-type(2) {
  border-top: none;
}

/* Remove Table of Contents border */
.right-sidebar {
  border-left: 0;
}

/* Increase pagination contrast */
.pagination-links > a {
  border-color: var(--as-color-pagination-border);

  &:hover {
    border-color: var(--as-color-pagination-border-hover);
  }
}

/* Blockquote */
.sl-markdown-content blockquote:not(:where(.not-content *)) {
  border-inline-start: 0.25rem solid var(--sl-color-text);
}

/*
Custom dark mode aside colors, see
https://github.com/withastro/starlight/blob/main/packages/starlight/style/asides.css
*/
:root[data-theme='dark'] {
  .starlight-aside--note {
    --sl-color-asides-border: var(--sl-color-accent-high);
    background-color: #293171;
  }
  .starlight-aside--tip {
    background-color: #5a2971;
  }
  .starlight-aside--caution {
    background-color: #5b4b23;
  }
  .starlight-aside--danger {
    --sl-color-asides-border: #ff1811;
    background-color: #6c253e;
  }
}

/* Add vertical space to asides */
.sl-markdown-content .starlight-aside {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

/* Hide generated page title on home page */
body:has(section[data-is-homepage]) .content-panel:has(h1#_top) {
  display: none;
}

/* Let the home page component control its width */
main > .content-panel > .sl-container:has(section[data-is-homepage]) {
  max-width: 100%;
}

/* Increase card border contrast */
body:has(section[data-is-homepage]) .card {
  border-color: var(--as-color-card-border);
}
