---
// Via https://github.com/withastro/starlight/blob/490c6eff34ab408c4f55777b7b0caa16787dd3d4/packages/starlight/components/MobileMenuFooter.astro

import type { Props } from '@astrojs/starlight/props'
import LanguageSelect from '@astrojs/starlight/components/LanguageSelect.astro'
import ReleaseBadge from '../ReleaseBadge.astro'
import SocialIcons from './SocialIcons.astro'
import ThemeSelect from '@astrojs/starlight/components/ThemeSelect.astro'
---

<div class="mobile-preferences sl-flex">
  <ReleaseBadge />
  <div class="sl-flex social-icons">
    <SocialIcons {...Astro.props} />
  </div>
  <ThemeSelect {...Astro.props} />
  <LanguageSelect {...Astro.props} />
</div>

<style>
  .social-icons {
    margin-inline-end: auto;
    gap: 1rem;
    align-items: center;
    padding-block: 1rem;
  }
  .social-icons:empty {
    display: none;
  }
  .mobile-preferences {
    justify-content: space-between;
    flex-wrap: wrap;
    border-top: 1px solid var(--sl-color-gray-6);
    column-gap: 1rem;
    padding: 0.5rem 0;
  }
</style>
