---
import { Icon } from '@astrojs/starlight/components'

const issueUrl = Astro.locals.starlightRoute.entry.data.issueUrl
const issueText = Astro.locals.starlightRoute.entry.data.issueText

const href = issueUrl === false ? null : issueUrl
---

{
  href && (
    <a href={href} class="sl-flex">
      <Icon name="error" size="1.2em" />
      {issueText}
    </a>
  )
}

<style>
  a {
    gap: 0.5rem;
    align-items: center;
    text-decoration: none;
    color: var(--sl-color-gray-3);
  }
  a:hover {
    color: var(--sl-color-white);
  }
</style>
