---
import { LATEST_AS_RELEASE } from '@lib/latestArchivesSpaceRelease.ts'
---

<p class="latest-release-blurb">
  The latest release of ArchivesSpace is
  <a href={LATEST_AS_RELEASE.htmlUrl}>{LATEST_AS_RELEASE.tagName}</a>.
</p>
