/*
  Custom colors generated via the Starlight docs 'Color theme editor',
  https://starlight.astro.build/guides/css-and-tailwind/#color-theme-editor.
  Based on #50c0e8 (dark) and #026cb6 (light) from the AS logo.
*/

/* Dark mode colors. */
:root {
  --sl-color-accent-low: #002836;
  --sl-color-accent: #007595;
  --sl-color-accent-high: #85d5f5;
  --sl-color-white: #ffffff;
  --sl-color-gray-1: #edeef0;
  --sl-color-gray-2: #c7c8cb;
  --sl-color-gray-3: #a2a4a9;
  --sl-color-gray-4: #56585d;
  --sl-color-gray-5: #36383c;
  --sl-color-gray-6: #25272b;
  --sl-color-black: #17181a;
}
/* Light mode colors. */
:root[data-theme="light"] {
  --sl-color-accent-low: #c5d9ee;
  --sl-color-accent: #00518a;
  --sl-color-accent-high: #103454;
  --sl-color-white: #17181c;
  --sl-color-gray-1: #24272f;
  --sl-color-gray-2: #353841;
  --sl-color-gray-3: #545861;
  --sl-color-gray-4: #888b96;
  --sl-color-gray-5: #c0c2c7;
  --sl-color-gray-6: #eceef2;
  --sl-color-gray-7: #f5f6f8;
  --sl-color-black: #ffffff;
}

/* Custom dark mode aside colors, see
https://github.com/withastro/starlight/blob/main/packages/starlight/style/asides.css */
:root[data-theme="dark"] {
  .starlight-aside--note {
    --sl-color-asides-border: var(--sl-color-accent-high);
    background-color: #293171;
  }
  .starlight-aside--tip {
    background-color: #5a2971;
  }
  .starlight-aside--caution {
    background-color: #5b4b23;
  }
  .starlight-aside--danger {
    --sl-color-asides-border: #ff1811;
    background-color: #6c253e;
  }
}
